<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="instanceName" value="MSSQLSERVER"/>
		<add key="connectionString" value="Server=localhost;Database=master;Trusted_Connection=True;"/>
		<add key="sqlAdministrators" value="PERSONAL_LAPTOP\vsnmr"/>
	</appSettings>
</configuration>